.blog-home {
  .blog-container {
    background-image: url(../Assets/home_bg.jpg);
    background-size: cover;
    height: 450px;
    width: 100%;
    .background-blog {
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      height: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        font-size: 60px;
      }
    }
    
  }
  .bottom-blog{
    background-color: #f5f8f9;
    .blog-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 10px;
      h4{
        cursor: pointer;
        &:hover{
          color: red;
        }
      }
    }
    .blog-card-info{
      background-color: #f5f8f9;
      width: 80%;
      margin: auto;
    }
  }
}
